@{
    ViewData["Title"] = "AddCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Master_Accident



<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE TITLE-->
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="row">
                    <div class="caption font-green-haze col-md-10">
                        <i class="icon-plus font-green"></i>
                        <span class="caption-subject bold uppercase"> Add Country</span>
                    </div>
                    <div class="caption font-green-haze" style="float:right">
                        <a class="btn btn-success" asp-action="Index">Back to List</a>
                    </div>
                </div>


            </div>
            <div class="portlet-body form">

                <div class="row">
                    <div class="col-md-12" style="font-family:'Bahnschrift';font-size:large">
                        <h3>@TempData["ContactInsertMsg"]</h3>
                        <h3>@TempData["ContactUpdateMsg"]</h3>
                        <form method="post" asp-controller="Master_Accident" asp-action="Save" enctype="multipart/form-data">
                            @Html.HiddenFor(x=>x.AccidentID)
                            <div class="form-group">
                                <label>Vehicle Name :</label>
                                <input type="text" class="form-control" asp-for="Vehicle1ID" placeholder="Enter Vehicle Type" />
                                <span asp-validation-for="Vehicle1ID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Vehicle Name :</label>
                                <input type="text" class="form-control" asp-for="Vehicle2ID" placeholder="Enter Vehicle Code" />
                                <span asp-validation-for="Vehicle2ID" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                <label>Upload File</label>
                                <input type="file" asp-for="File" placeholder="Upload your file" class="form-control" />
                            </div>*@
                            <div class="form-group">
                                <label>Country Name : </label>
                                @*<input type="text" class="form-control" asp-for="CountryID" placeholder="Enter Country ID" />*@
                                <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="fnOnCountryChange();">
                                    <option value="">Select Country</option>
                                </select>
                                <span asp-validation-for="CountryID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>State Name : </label>
                                @*<input type="text" class="form-control" asp-for="StateID" placeholder="Enter State ID" />*@
                                <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))" onchange="fnOnStateChange();">
                                    <option value="">Select State</option>
                                </select>
                                <span asp-validation-for="StateID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>City Name : </label>
                                @*<input type="text" class="form-control" asp-for="CityID" placeholder="Enter City ID" />*@
                                <select asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))" class="form-control">
                                    <option value="">Select City</option>
                                </select>
                                <span asp-validation-for="CityID" class="text-danger"></span>
                            </div>

                         
                            <br />

                            <input type="submit" class="btn btn-dark" value="Save" />
                            <a asp-controller="LOC_Country" asp-action="Index" class="btn btn-outline-success">Cancel</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- END CONTENT BODY -->
</div>

<!-- END CONTENT -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        //dropdown for state
        function fnOnCountryChange() {

            var CountryID = $("#CountryID").val();

            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountry","LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        datatType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                }
                            );
                        },
                        error: function (r) {
                            alert("Error While Loading Dropdown!");
                        }
                    }
                );
            }
            else {
                $("StateID").empty();
                $("StateID").append($("<option></option>").val("").html("Select State"));
            }
        }

        //drop down for city
        function fnOnStateChange() {

            var StateID = $("#StateID").val();

            if (StateID !== "") {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByState","CON_Contact")" + "?&StateID=" + StateID,
                        data: {},
                        datatType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                                }
                            );
                        },
                        error: function (r) {
                            alert("Error While Loading Dropdown!");
                        }
                    }
                );
            }
            else {
                $("CityID").empty();
                $("CityID").append($("<option></option>").val("").html("Select City"));
            }
        }
    </script>
}
